/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* Utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    border-radius: 10px;
}


/* Body */

/* Header */

/* Logo */
#header-logo {
    width: 120px;
}

header nav .nav-bar {
    list-style-type: none;
}

/* Nav */
.nav-bar li {
    display: inline-block;
    padding: 20px 0;
}

.nav-bar a {
    text-decoration: none;
    color: #bebebe;
    font-size: 12px;
    margin-right: 10px;
}

/* Main */
/* Banner */
.main-banner-top {
    height: 380px;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-position: 50%;
    margin: 10px 0 40px 0;
}

main .main-banner-top .text-banner {
    display: inline-block;
    width: 42%;
    color: white;
    padding: 240px 40px;
}

.text-banner h2 {
    font-size: 24px;
    font-weight: lighter;
}

.text-banner p {
    font-size: 13px;
}

/* Main section columns */
#header-main h3 {
    font-size: 28px;
    line-height: 28px;
}
#header-main span {
    font-size: 12px;
    vertical-align: top;
    color: #929292;
}

.section-columns {
    margin: 30px 0;
}

.sidebar, .central-column {
    float: left;
}

.sidebar {
    width: 20%;
}

.central-column {
    width: 60%;
    padding: 0 20px;
}

.section-columns .bg-image {
    height: 150px;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.sidebar-sx .bg-image {
    background-image: url(../img/img-1.jpg);
    background-size: 80%;
    opacity: 0.8;
}


.central-column .bg-image {
    background-image: url(../img/banner-2.jpg);
    background-size: 80%;
}

.sidebar-dx .bg-image {
    background-image: url(../img/img-3.jpg);
    background-size: 120%;
}

.section-columns .text-column {
    padding-top: 20px;
}

.text-column h4 {
    font-weight: normal;
    color: #2e2e2e;
}

.text-column p {
    font-size: 12px;
    color: #929292;
}


/* Footer */
footer {
    text-align: center;
    color: #262626;
    margin: 50px 0;
}

footer .fa-heart {
    color: #ff0000;
} 


