/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* Utility */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */

/* Header */

/* Logo */
#header-logo {
    width: 120px;
}

header nav .nav-bar {
    list-style-type: none;
}

/* Nav */
.nav-bar li {
    display: inline-block;
    padding: 20px 0;
}

.nav-bar a {
    text-decoration: none;
    color: #bebebe;
    font-size: 12px;
    margin-right: 10px;
}

/* Main */
.main-banner-top {
    height: 380px;
    border-radius: 10px;
    opacity: 1;
    background-image: url(../img/banner.jpg);
    background-position: 50%;
    margin: 10px 0 40px 0;
}

main .main-banner-top > .text-banner {
    display: inline-block;
    width: 42%;
    color: white;
    padding: 240px 40px;

}

.text-banner h2 {
    font-size: 24px;
    font-weight: lighter;
}

.text-banner p {
    font-size: 13px;

}

#header-main h3 {
        font-size: 30px;
}